.file:hover {
    -fx-background-color:#444444aa;
    -fx-text-fill:rgb(165, 165, 139);
}
.file{
    -fx-text-fill:rgb(205, 205, 253);
    -fx-background-color:#11111199;
}
.Sign_in{
    -fx-background-radius : 7;
    -fx-background-color: #009400;
}
.Sign_in:hover{
    -fx-background-color: #03f803;
}