.Admin_page{
    -fx-background-color: #fff;
}
.Admin_page:hover{
    -fx-background-color : rgb(138, 135, 135);
}
.Admin_login{
    -fx-background-color : #202332;
}
.Admin_login:hover{
    -fx-background-color : #3a3f58;
}
.Admin_User:hover{
    -fx-background-color : #202332;
}
.Admin_menu{
    -fx-background-color: #fff;
}
.Admin_menu:hover{
    -fx-background-color : rgb(247, 247, 247)
}